@import url('https://fonts.googleapis.com/css?family=Lato');

* 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

$breakpoints: (xxxl: 1920px, xxl: 1600px, xl: 1440px, lg: 1280px, md: 1024px, sm: 768px, xs: 320px)

@mixin respond-to($breakpoint)
  @media (min-width: #{map-get($breakpoints, $breakpoint)})
    @content;


html,
body 
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  +respond-to(xs)
    font-size: 12px;
  +respond-to(sm)
    font-size: 14px;
  +respond-to(md) 
    font-size: 16px;
  +respond-to(lg) 
    font-size: 18px;
  +respond-to(xl)
    font-size: 20px;
  +respond-to(xxl)
    font-size: 22px;
  +respond-to(xxxl)
    font-size: 24px;
  > *
    flex: 1 0 auto

#root
  background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);

